@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background: linear-gradient(45deg, #d09530, #164284);
  margin: 0;
  height: 100vh;
  justify-content: center; /* Center vertically for larger screens */
  gap: 20px;
  overflow: hidden;
}

figure {
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 20%;
  margin-bottom: 15px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2.2);
}

h1 {
  margin: 0;
  font-size: 20px;
}

h2 {
  font-size: 16px;
  margin: 0 0 5px 0;
  font-weight: 400;
}

main {
  gap: 20px;
  width: 100%;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 160px;
  height: 45px;
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 35px;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff00;
  border: 1px solid white;
  color: white;
}

footer p {
  font-size: 12px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  body {
    gap: 15px;
    justify-content: flex-start;
    padding-top: 40px;
  }

  figure {
    width: 140px;
    height: 140px;
  }

  img {
    transform: scale(1.7);
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 14px;
  }

  main {
    gap: 15px;
  }

  button {
    width: 180px; /* Increased button width for small screens */
    font-size: 13px; /* Slightly reduced font size to fit text */
    height: 40px;
  }
}
